<h1> Modification de Glossary </h1>
<form action="/admin/step_by_step/<%=step_by_step.id %>" method="post">
	<table>
		<tr>
			<td>Title</td>
			<td><input type="text" name="title" value="<%=step_by_step.title%>"/></td>
		</tr>
		<tr>
			<td>Section No.</td>
			<td><input type="text" name="sectionNumber" value = "<%=step_by_step.sectionNumber%>"/></td>
		</tr>
		<tr>
			<td>Content</td>
			<td><textarea class="form-control"  rows="10" cols="50" type="text" name="content"><%=step_by_step.content%></textarea></td>
		</tr>
		<tr>
			<td>Image</td>
			<td><input type="text" name="image" value = "<%=step_by_step.image%>" /></td>
		</tr>
		<tr>
			<td>Question</td>
			<td><textarea class="form-control"  rows="10" cols="50" type="text" name="question"><%=step_by_step.question %></textarea></td>
		</tr>
		<tr>
			<td>Template Pdf</td>
			<td><input type="text" name="templateFile" value = "<%=step_by_step.templateFile%>" /></td>
		</tr>
	</table>
	<br>
	<input type="hidden" name="_method" value="PUT"/>
	<input type="submit" value="Valider" />
</form>