<h1> List of Step by Steps </h1>
<% if (!step_by_steps.length) { %>
	<b> No Step By Step Articles ! </b>
	<br><br>
	<% } else { %>
	<table>
		<% step_by_steps.forEach(function(step_by_step) { %>
		<tr>
			<td width=80><b>Title : </b></td>
			<td width=100><%= step_by_step.title%></td>
			<td>
				<form style="display:inline" action="/admin/step_by_step/<%= step_by_step.id %>">
					<input type="submit" value="Inspect" />
				</form>
			</td>
			<td>
				<form style="display:inline" action="/admin/step_by_step/<%= step_by_step.id %>/edit">
				<input type="submit" value="Modify" />
			</form>
			</td>
			<td>
				<form style="display:inline" action="/admin/step_by_step/<%= step_by_step.id %>" method="post">
					<input type="submit" value="Delete" />
					<input type="hidden" name="_method" value="DELETE" />
				</form>
			</td>
		</tr>
	<% }); %>
	</table>
	<% } %>
	<form action="/admin/step_by_step/new">
		<input type="submit" value="Create a Step By Step" />
	</form>