
<h1> Creation of Step By Step </h1>
<form action="/admin/step_by_step" method="post">
	<table>
		<tr>
			<td>Title</td>
			<td><input type="text" name="title"/></td>
		</tr>
		<tr>
			<td>Section No.</td>
			<td><input type="text" name="sectionNumber"/></td></td>
		</tr>
		<tr>
			<td>Content</td>
			<td><textarea class="form-control" rows="10" cols="50" type="text" name="content"></textarea></td>
		</tr>
		<tr>
			<td>Image</td>
			<td><input type="text" name="image" /></td>
		</tr>
		<tr>
			<td>Question</td>
			<td><textarea class="form-control" rows="10" cols="50"  type="text" name="question"></textarea></td>
		</tr>
		<tr>
			<td>Template Pdf</td>
			<td><input type="text" name="templateFile"/></td>
		</tr>
	</table>

	<br>
	<input type="submit" value="Valider" />
</form>