
<h1> Visualisation de dood </h1>
<form action="/admin/step_by_step" method="get">
	<table>
		<tr>
			<td>Title</td>
			<td><%=step_by_step.title%></td>
		</tr>
		<tr>
			<td>Section No.</td>
			<td><%=step_by_step.sectionNumber%></td>
		</tr>
		<tr>
			<td>Content</td>
			<td><%=step_by_step.content%></td>
		</tr>
		<tr>
			<td>Image</td>
			<td><%=step_by_step.image%></td>
		</tr>
		<tr>
			<td>Question</td>
			<td><%=step_by_step.question %></td>
		</tr>
		<tr>
			<td>Template Pdf</td>
			<td><%=step_by_step.templateFile%></td>
		</tr>
	</table>
	<br>
	<input type="submit" value="Fermer" />
</form>