<% layout('boilerplate_scrollspy') -%>
<% block('title', "Learn - Kool Animation"); -%>
<% include navigationbar %>
<div class="row">
	<h2 class="text-titles">Animation Principles</h2> 
	<div id="content1" class="col-sm-9" role="main" >
		<div class="glossary-intro-text">
			When making an animation film, there are some basic principles which could help you make your film more efficients.
		</div>
		<hr style="border-bottom: dashed 1px #c0c1c2" />
		<% for(var i=0; i<animation_principles.length; i++){ %>
			<div class="glossary">
				<h4><%= animation_principles[i].title %></h4>
				<div class="content">
				<%- animation_principles[i].content %>
				</div>
				<hr style="border-bottom: dashed 1px #c0c1c2" />
			</div>
			
		<% } %>
	</div>
</div>