<!DOCTYPE html>
<html>
    <head>

        <title><%-blocks.title%></title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/learn.css">
        <link href='http://fonts.googleapis.com/css?family=Patrick+Hand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    </head>
    <body  data-spy="scroll" data-target="#sidebar">
         <% include navigationbar %>
        <div class="container center_div">
       
            <%-body -%>
            <% include footer %>
        </div>
        <link rel="stylesheet" href="/css/style.css">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/js/vendor/jquery-1.11.2.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/scripts/bootstrap.min.js"></script>

        <script  type="text/javascript">
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip({
                    trigger: 'hover',
                    placement : 'top',
                    template: '<div class="tooltip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
                });
                $('[data-toggle="popover"]').popover({
                trigger: 'hover',
                placement: 'auto'
                });
            });
        </script>
    </body>
</html>