<% layout('boilerplate_scrollspy') -%>
<% block('title', "Download - Kool Animation"); -%>
<div class="row">
    <div id="content1" class="col-sm-9 text-center" role="main" >
    	
    	</br>
        <div class="row">
            <img src="images/hyde_logo.png"  style="width:500px; height:375px;">
        </div>

        </br>
        <div class="row">
    	<a href="/hyde/hyde_1_0_7.exe" class="btn btn-default" role="button">Windows Version</a>
    	<a href="/hyde/hyde_1_0_7.dmg" class="btn btn-default" role="button">Mac Version</a>
    	<h2 id="tutorial">Tutorial</h2> 
        <a href="/pdf/tutorial_fr.pdf" class="btn btn-default" role="button">Version Français</a><br/>
       ( Sorry no English version for the moment.)
        </div>
    </div>
    <!--
    <div  class="col-sm-3" role="complementary">
        <nav id="sidebar" role="navigation" class="collapse navbar-collapse  affix">
            <ul class="nav nav-pills nav-stacked">
                <li class>

                    <ul class="nav-pills  nav-stacked">
                        <li  class="list-unstyled"><a href="#download">1. Application Download</a></li>
                        <!-- <li  class="list-unstyled"><a href="#tutorial">2. Tutorial</a></li> -->
                    </ul>
                </li>
             </ul>
        </nav>
    </div>
    -->
</div>