<% layout('boilerplate') -%>
<% block('title', "Kool Animation Exercises"); -%>

<% include navigationbar %>

<h3>Exercises</h3>

<img src="/images/story01.jpg"/>
<img src="/images/story02.jpg"/>

<% include footer %>