  	<div class="footer">
    	<hr style="margin: 30px 0 10px 0;">
    	<p>&copy;&nbsp;<a href="http://lamenagerie.com">La Ménagerie</a> & <a href="http://zvviks.net">ZVVIKS</a>&nbsp;2015</p>
  	</div>
