<% layout('boilerplate') -%>
<% block('title', "Kool Animation Login"); -%>

<h3 class="text-center text-titles-login">Forgot my password</h3>

<div class="custom_form">

    <div class="row">
        <div class="form-group col-sm-12" >
            <img src="images/kool-logo.png" class="img-responsive center-block" style="height:255px;width:200px"/>
        </div>
    </div>
    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <div>
    
    Please enter your account email. A link will be emailed to you which enable you to create a new password. 
    </div>
    <form  method="post" action="/forgot_password">
        <div class="row">
            <div class="form-group col-xs-10 col-md-10">
                <input type="text"  class="form-control" id="exampleInputEmail1" placeholder="Enter email" name="email">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-10 col-md-10" style="padding-top:24px">
                <button type="submit" class="btn btn-default pull-right" >Reset Password</button>
            </div>
        </div>
    </form>
</div>


