<% layout('boilerplate') -%>
<% block('title', "Kool Animation Login"); -%>

<h3 class="text-center text-titles-login">RESET PASSWORD</h3>
<div class="custom_form">
    <div class="row">
        <div class="form-group col-sm-12" >
            <img src="http://localhost:8001/images/kool-logo.png" class="img-responsive" style="height:255px;width:200px"/>
        </div>
    </div>
    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <form  method="post" action="/forgot_password/reset">
        <div class="row">
            <div class="form-group col-xs-10 col-md-10">
                <label >Email</label>
                <input type="text"  class="form-control" id="exampleInputEmail1" placeholder="Enter email" name="email">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-10 col-md-10">
                <label >Password</label>
                <input type="password" class="form-control" placeholder="Password" name="password">
            </div>
            <div class="form-group col-xs-10 col-md-10">
                <label >Confirm Password</label>
                <input type="password" class="form-control" placeholder="Password" name="password2">
            </div>
            <div class="col-xs-2 col-md-2" style="padding-top:24px">
                <button type="submit" class="btn btn-default pull-right" >SIGN IN</button>
            </div>
        </div>
        <input type="hidden" name="password_key" value="<%= password_key %>"/>
        
    </form>
</div>