<% layout('boilerplate_scrollspy') -%>
<% block('title', "Learn - Kool Animation"); -%>
<% include navigationbar %>
<div class="row">
	<h2 class="text-titles">Glossary</h2> 
	<div id="content1" class="col-sm-9" role="main" >
		<div class="glossary-intro-text">
			There's so much to learn about film! This little dictionary is just an accessory, a first step to becoming familiar with animation. The short definitions provided here offer a neat starting point for your filmmaking adventures. To keep expanding your knowledge, look into some books, magazines and web articles, and above all – WATCH FILMS!!! (From all periods of history and all parts of the world!)
		</div>
		<hr style="border-bottom: dashed 1px #c0c1c2" />
		<% for(var i=0; i<glossaries.length; i++){ %>
			<div class="glossary">
				<h4><%= glossaries[i].title %></h4>
				<div class="content">
				<%- glossaries[i].content %>
				</div>
				<hr style="border-bottom: dashed 1px #c0c1c2" />
			</div>
			
		<% } %>
	</div>
</div>