<% layout('boilerplate') -%>
<% block('title', "Kool Animation Project"); -%>

<% include navigationbar %>


<img src="images/kool-logo.png" class="img-responsive center-block" style="height:255px;width:200px"/>
 <div class="row">
 <p>
 <b>Dear <%= name %>,</b>
 
</p>
<p>
Thank you for Registering at the KOOL Animation web portal.
</p>
<p>
The KOOL Animation web portal delivers information and practical knowledge in the field of stop-motion animation. It caters to educators and mentors, as well as all those who wish to acquire useful information and master the basic skills required for the creation of stop-motion animated film. In addition, it allows users to independently apply their knowledge in practice, by letting them capture and manipulate images with Hyde Stop Motion software, a special tool available for free download through the portal page.

 </p>
<p>
Access to the portal is currently only  available to a limited number of users, however, the content and availability will eventually expand. Your comments, observations and remarks are most welcome and will be taken into account during further development.  
</p>

<p>
 Feel free to let us know at : <a href="mailto:info@kool-animation.com?Subject=Contact Kool Animation" target="_top">info@kool-animation.com </a>
</p>



<p>
	<b>	Dr. J. Kool</b>
</p>


</div>

<% include footer %>