<% layout('boilerplate_scrollspy') -%>
<% block('title', "Learn - Kool Animation"); -%>
<div class="row">
    <div id="content1" class="col-sm-10" role="main" >
        <% include learn_content %>
    </div>
    <div  class="col-sm-2 text-menu "role="complementary">
        <nav id="sidebar" role="navigation" class="collapse navbar-collapse  affix">
            <ul class="nav nav-pills nav-stacked">
                <li class>
                    <a href="#diy">DIY Animation</a>
                    <ul class="nav-pills  nav-stacked">

                        <% for(var i=0; i<stepByStep.length; i++){ %>
                            <li  class="list-unstyled"><a href="#step-by-step<%= stepByStep[i].sectionNumber %>"><%= stepByStep[i].sectionNumber %>. <%= stepByStep[i].title %></a></li>
                        <% } %>
                        
                    </ul>
                </li>
                <!--
                <li><a href="#animation-principales">Animation Principales</a></li>
                <li><a href="#build-kool-hyde">Build J. Kool   Hyde</a></li>
                <li><a href="#now-animate">Now Animate</a></li>
                -->
                <hr/>
                <li><a href="/animation_principle">Principles </a></li>
                <hr/>
                <li><a href="/glossary">Glossary</a></li>

                
            </ul>
        </nav>
    </div>
</div>
