<h1 id="diy" class="text-titles">Do it yourself // A guide to making animated films</h1>
  <div class="text-learn">
        <p>Animation develops our creativity, and it lets us bring imaginary worlds to life. Using different animation techniques, you can animate all kinds of things: everyday objects, toys, plasticine figures, paper characters, dolls, even people. In animated film, nothing stops you from creating fantastic creatures or planets nobody has ever seen before! When you're creating an animated film, it's useful to organize your work in advance. If there are more authors working together, everyone should choose their task: director, screenwriter, set designer, animator, editor, and so on.</p> 
        <p>
        With the help of these instructions, we'll guide you through the complete process of creating an animated film – from the basic idea all the way to uploading your finished work online. Skipping any of the steps usually isn't good, because the creation and understanding of animation requires an exact approach. In all the phases of making your film: pre-production, production and post-production, you will find useful advice on the internet, in many great books and in different education programs.
        </p>
    </div>
<div>
<!-- Step by Step -->
    <% for(var i=0; i<stepByStep.length; i++){ %>
        <h2 id="step-by-step<%= stepByStep[i].sectionNumber %>" class="text-titles"
><span class="learn-title"><%= stepByStep[i].sectionNumber %>. </span><%= stepByStep[i].title %></h2>
<div class="row">
    <div class="text-interface-login col-xs-7 col-md-7">
         <div class="learn-image">
            <img src="images/learn/<%= stepByStep[i].image %>" class="img-responsive">
         </div>
         <div class="insert-learn">
            <div class="row">
                <div class="insert-learn-text col-md-8 ">
                <h4 class="j-kool-question"  >J.Kool Says</h4>
                <%- stepByStep[i].question %>
                   
                </div>
                <div class="insert-learn-image col-md-4 ">
                    <img src="images/learn/jkool.jpg" class="center-block">
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-5 col-md-5 text-learn">
        <%- stepByStep[i].content %>
        </p>
    </div>
</div>
        <div></div>
        <hr style="border-bottom: dashed 1px #c0c1c2" />
    <% } %>
</div>
<hr style="border-bottom: dashed 1px #c0c1c2" />