<h1> Hyde Stop Motion (<%= hydeactivities.length %>)</h1>
<% if (!hydeactivities.length) { %>
	<b> No Activities ! </b>
	<br><br>
	<% } else { %>
	<table>
			<tr>
				<td width=80><b>email : </b></td>
				<td width=80><b>firstname : </b></td>
				<td width=80><b>lastname : </b></td>
				<td width=80><b>lang : </b></td>
			</tr>
		<% hydeactivities.forEach(function(hydeactivity) { %>
			<tr>
				<td width=100><%= hydeactivity.email%></td>
				<td width=100><%= hydeactivity.firstname%></td>
				<td width=100><%= hydeactivity.lastname%></td>
				<td width=100><%= hydeactivity.lang%></td>
			</tr>
		<% }); %>
	</table>
	<% } %>