<% layout('boilerplate') -%>
<% block('title', "Kool Animation Login"); -%>

<h3 class="text-center text-titles-login">USER LOGIN</h3>
<div class="custom_form">

    <div class="row">
        <div class="form-group col-sm-12" >
            <img src="images/kool-logo.png" class="img-responsive center-block" style="height:255px;width:200px"/>
        </div>
    </div>
    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <form  method="post" action="/login">
        <div class="row">
            <div class="form-group  text-interface-login col-xs-10 col-md-10">
                <label for="exampleInputEmail1" class="text-titles text-interface-login">User</label>
                <input type="text"  class="form-control text-interface-login" id="exampleInputEmail1" placeholder="Enter email" name="email">
            </div>
        </div>
        <div class="row">
            <div class="form-group text-interface-login col-xs-10 col-md-10">
                <label for="exampleInputPassword1" class="text-titles text-interface-login">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
            </div>
            <div class="col-xs-2 col-md-2" style="padding-top:30px">
                <button type="submit" class="btn btn-default pull-right" >Sign In</button>
            </div>
        </div>

        <div class="row">
        <!--
            <div class="col-xs-6 col-md-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="">Remember me
                    </label>
                </div>
            </div>
            -->
            <div class="col-xs-6 col-md-6 text-titles text-interface-login">
                <a href="/forgot_password" class="pull-right">forgotten my password</a>
            </div>
         
        </div>
        <hr/>
        <div class="text-interface-login">
            You don't have an account ?
        </div>
        <div >
            <a href="/signup" type="button" class="btn btn-default">Sign up</a>
        </div>
    </form>
</div>