<% layout('boilerplate') -%>
<% block('title', "Kool Animation Login"); -%>


<div class="custom_form">

    <div class="row">
        <div class="form-group col-sm-12" >
            <img src="http://localhost:8001/images/kool-logo.png" class="img-responsive" style="height:255px;width:200px"/>
        </div>
    </div>
    <div>
    <%= email_reset_message %> 
    
    </div>
</div>
<hr/>
<a href="/login"> Sign In </a>

</div>