 <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand"></a>
        </div>
        <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav text-menu">
              <li <% if (section=="learn"){  %> class="active" <% } %>><a href="/learn">Learn</a></li>
           <!-- <li <% if (section=="exercises"){  %> class="active" <% } %>><a href="/exercises">Exercises</a></li>-->
              <li <% if (section=="download"){  %> class="active" <% } %>><a href="/download">Download</a></li>
          </ul>
    		<ul class="nav navbar-nav pull-right text-menu">
             	<li class="<% if (section=="user"){  %> active<% } %>" ><a href="/user">User</a></li>
          </ul>
        </div>
       
      </div>
    </div>
