<% layout('boilerplate') -%>
<% block('title', "Kool Animation Create an Account"); -%>

<h3 class="text-center">CREATE AN ACCOUNT</h3>
<div class="custom_form">
 


    <!-- show any messages that come back with signup -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
<form action="/signup" method="post">
    <div class="form-page">
        <!--
        <div class="form-group">
            <label for="inputCode">Invitation code</label>
            <% if(invitation){ %>
                <input name="invitation" type="text" class="form-control" id="inputCode"  value="<%= invitation %>" >
            <% }else{ %>
                <input name="invitation" type="text" class="form-control" id="inputCode" placeholder="Enter invitation code">
            <% } %>
        </div>
        -->
        <div class="form-group">
            <label for="inputUser">Email</label>
            <% if(email){ %>
                <input name="email" type="text" class="form-control" id="inputUser" value="<%= email %>">
            <% }else{ %>
                <input name="email" type="text" class="form-control" id="inputUser" placeholder="enter your email">
            <% } %>
        </div>
        <div class="form-group">
            <label for="inputPassword1">Password</label>
            <input name="password" type="password" class="form-control" id="inputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="inputPassword2">Confirm password</label>
            <input name="password2" type="password" class="form-control" id="inputPassword2" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="inputFirstName">First name</label>

            <% if(firstname){ %>
                <input name="firstname" type="text" class="form-control" id="inputFirstName" value="<%= firstname %>">
            <% }else{ %>
                <input name="firstname" type="text" class="form-control" id="inputFirstName" placeholder="Enter first name">
            <% } %>
            
        </div>
        <!--
        <div class="form-group">
            <label for="inputLastName">Family name</label>

            <% if(lastname){ %>
                <input name="lastname" type="text" class="form-control" id="inputLastName" value="<%= lastname %>">
            <% }else{ %>
                <input name="lastname" type="text" class="form-control" id="inputLastName" placeholder="Enter last name">
            <% } %>
            
        </div>
        -->
        <!--
        <div class="form-group input-append date" id="form_datetime">
            <label for="birthday">Birthday</label>
            <input size="16" type="text" value="01-01-2015" readonly class="form-control"  id="birthday" style="width:200px"/>
            <span class="add-on"><i class="icon-th"></i></span>
        </div>
        -->

        <div class="form-group">
            <button id="submit" type="submit" class="btn btn-default" style="align:right">Create Account</button>
        </div>
        
    <div>
</form>
 </div>
  <!--
    <script type="text/javascript">
      $(function() {
       $('#birthday').datepicker()
      });
    </script>
    -->



