<% layout('boilerplate') -%>
<% block('title', "User - Kool Animation"); -%>

<% include navigationbar %>
<div><%= user.lastname %></div>
<div><%= user.email %></div>  
<br/>
<a href="/logout">Log Out</a>  
<hr/>
<a href="/createinvitation" class="btn btn-default" role="button">Create Invitation</a>

<% include footer %>