  body {position:relative;}


  .navbar-inverse .navbar-brand {
    color: #FFF
}

h1, h2{
	padding-top: 50px;
}

#content1{
	padding-bottom: 800px; /* astuce pour laisser du vide en fin de contenu, sinon les items du menu de sont pas bien synchro avec le scroll en fin de page.*/
}

.center_div{
    margin: 0 auto;
    padding-top:50px;
    width:80%:; /* value of your choice which suits your alignment */
}

.scrollspy-example{}
/*.scrollspy-example{position:relative;height:200px;margin-top:10px;overflow:auto}*/

.bs-example{position:relative;padding:45px 15px 15px;margin:0 -15px 15px;border-color:#e5e5e5 #eee #eee;border-style:solid;border-width:1px 0;-webkit-box-shadow:inset 0 3px 6px rgba(0,0,0,.05);box-shadow:inset 0 3px 6px rgba(0,0,0,.05)}
