.navbar-inverse .navbar-brand {
    color: #FFF;
    background-image: url("/images/koolbar-logo.png");
    background-repeat: no-repeat;
    background-position-y:7px;
    width:100px;
    background-color: #ef4136;
}

a {
    color: #ef4136;
    text-decoration: none;
}

.j-kool-question{
    font-family: 'Open Sans', cursive;
    font-size:14;
}

.nav-pills>li.active>a{
  text-decoration: none;
  color: #000;
  
  border-left: 2px solid #ef4136; 
}

.nav-pills>li>a{
  text-decoration: none;
  color: #000;
}

.learn-title{
    color: #ef4136;
}

.center_div{
    margin: 0 auto;
    width:80% ; /* value of your choice which suits your alignment */
}

.custom_form{
    margin: 0 auto;
   	padding: 10px;
	max-width:900px;
	/*border: solid 1px #fefefe;
	border-radius: 3px;*/
	/*box-shadow: 2px 2px 5px #888888;*/
    background-color:#f2f2f2;
}

.text-titles-login{
    font-family: 'Patrick Hand', cursive;
    font-size:14;
}

.text-titles-question{
    font-family: 'Open Sans', cursive;
    font-weight: bold;
    font-size: 14px;
}

.text-titles{
    font-family: 'Patrick Hand', cursive;
    font-weight: bold;
    font-size: 38px;
}

.text-user{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.text-menu{
    font-family: 'Patrick Hand', cursive;
    font-size: 18px;
}

.text-learn{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.insert-learn{
    padding: 15px;
    background-color:#575757;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color:#FFFFFF;
}

.insert-learn-text{
    padding-top: 5px; 
    padding-left:20px;
}

.insert-learn-image{

}

.text-interface-login{
    font-size: 14px;
}


.sticky-footer  {
    color: #FFF;
    width: 100%;
    background-color: #000;

    position: fixed; 
    bottom: 0px;
    left: 0;
    right: 0;
    height: 20px;
    padding: 0;
}

.sticky-footer a{
    color: #FFF;
    cursor:pointer;
}

.sticky-footer-content{
    overflow: scroll; 
    height: 880px;
}

.sticky-footer>div{
    padding-left: 20px;
}

.footer{
    padding-bottom: 20px;
}

 .img-responsive { width:100%; }  /*needed for class="img-responsive" to work */

 h1 {
    
    font-weight: bold;
    font-size: 32px;
}

.glossary-intro-text{
    
    font-size: 18px;
}

 h2 {
    
    font-weight: bold;
    font-size: 32px;
}

 h4 {
   
    font-weight: bold;
}

.content {
 
}
