<h1> Modification de Animation Principle </h1>
<form action="/admin/animation_principle/<%=animation_principle.id %>" method="post">
	<table>
		<tr>
			<td>Title</td>
			<td><input type="text" name="title" value = "<%=animation_principle.title%>" /></td>
		</tr>
		<tr>
			<td>Content</td>
			<td><textarea class="form-control" type="text" name="content"><%= animation_principle.content %></textarea></td>
		</tr>
	</table>
	<br>
	<input type="hidden" name="_method" value="PUT"/>
	<input type="submit" value="Valider" />
</form>