<h1> List of  Animation Principles </h1>
<form action="/admin/animation_principle/new">
		<input type="submit" value="Create a Principle" />
	</form>
<% if (!animation_principles.length) { %>
	<b> No Animation Principles! </b>
	<br><br>
	<% } else { %>
	<table>
		<% animation_principles.forEach(function(animation_principle) { %>
		<tr>
			<td width=80><b>Title : </b></td>
			<td width=100><%= animation_principle.title%></td>
			<td>
				<form style="display:inline" action="/admin/animation_principle/<%= animation_principle.id %>">
					<input type="submit" value="Inspect" />
				</form>
			</td>
			<td>
				<form style="display:inline" action="/admin/animation_principle/<%= animation_principle.id %>/edit">
				<input type="submit" value="Modify" />
			</form>
			</td>
			<td>
				<form style="display:inline" action="/admin/animation_principle/<%= animation_principle.id %>" method="post">
					<input type="submit" value="Delete" />
					<input type="hidden" name="_method" value="DELETE" />
				</form>
			</td>
		</tr>
	<% }); %>
	</table>
	<% } %>
	