
<h1> Création de Animation Principle </h1>
<form action="/admin/animation_principle" method="post">
	<table>
		<tr>
			<td>Title</td>
			<td><input type="text" name="title"  /></td>
		</tr>
		<tr>
			<td>Content</td>
			<td><textarea class="form-control" type="text" name="content"></textarea></td>
		</tr>
	</table>
	<br>
	<input type="submit" value="Valider" />
</form>