
<h1> Visualisation de Animation Principle </h1>
<form action="/admin/animation_principle" method="get">
	<table>
		<tr>
			<td>Title</td>
			<td><input type="text" name="title" disabled value = "<%=animation_principle.title%>" /></td>
		</tr>
		<tr>
			<td>Content</td>
			<td><textarea class="form-control" type="text" disabled name="content"><%=animation_principle.content%></textarea></td>
		</tr>
	</table>
	<br>
	<input type="submit" value="Fermer" />
</form>