<% layout('../boilerplate') -%>
<% block('title', "User - Kool Animation"); -%>

<% include ../navigationbar %>
<h2> Modification de User</h2>

<div>
User <%=user.email%> : <i>(your email cannot be edited)</i>

</div>
<hr/>
<form action="/user/edit" method="post">
	<table>
		<tr>
			<td>First Name</td>
			<td><input type="text" name="firstname" value = "<%= user.firstname %>" /></td>
		</tr>
		<!--
		<tr>
			<td>Last Name</td>
			<td><input type="text" name="lastname" value = "<%= user.lastname %>" /></td>
		</tr>
		-->
		<tr>
			<td>Language</td>
			<td><select name="language" class="form-control">
			<% supported_languages.forEach(function(lang) { %>

		      <option value="<%= lang %>" <% if(lang==user.lang) {%>  selected <%}%> > <%= lang %> </option>

		      <% }); %>
			</select></td>

	</table>
	<br>
	<input type="hidden" name="_method" value="PUT"/>
	<input type="submit" value="Valider" class="btn btn-default"/>
</form>


<% include ../footer %>