<% layout('../boilerplate') -%>
<% block('title', "User - Kool Animation"); -%>

<% include ../navigationbar %>
<div class="row form-group text-user">
	<div class="col-md-10">
		<div><%= user.firstname %></div>
		<!--<div><%= user.lastname %></div>-->
		<div><%= user.email %></div>  
	</div>
	<div class="col-md-2">
		<div class="form-group">
			<a href="/logout">Log Out</a>  
		</div>
	</div>  
</div>  
<div class="form-group">
	<a href="/user/edit" class="btn btn-default" role="button">Edit Account</a>
</div>
<br/>

<% if(invitedUsers){ %>
<hr/>
<div class="form-group text-user">Créez un Machine ID pour connecter et le connecter Hyde Stop Motion sur votre account. </div>
<div class="form-group">
	<a href="/user/createinvitation" class="btn btn-default" role="button">Creation Hyde ID</a>
	</div>

<div class="form-group text-user">
	<table style="width: 100%;">
	 	<tr style="height: 50px;">
    		<th style>Etat</th>
    		<th>Hyde Machine ID</th> 
    		<th></th> 
  		</tr>
		<% invitedUsers.forEach(function(invitedUser) { %>
		<tr>
				<td>
				<% if (invitedUser.local.email){ %><%= invitedUser.local.email %> <% }else{ %> 
					ACTIVER 
				<% } %> </td>
		
				<td><%= invitedUser.local.invitation %></td>
				<td><a href="/" class="btn btn-default" role="button">Desactiver</a></td>
			</tr>
		
		<% }); %>
	</table>
	</div>
<% } %>
<% include ../footer %>