<h1> Modification de Glossary </h1>
<form action="/admin/glossary/<%=glossary.id %>" method="post">
	<table>
		<tr>
			<td>Title</td>
			<td><input type="text" name="title" value = "<%=glossary.title%>" /></td>
		</tr>
		<tr>
			<td>Content</td>
			<td><textarea class="form-control" type="text" name="content"><%=glossary.content%></textarea></td>
		</tr>
	</table>
	<br>
	<input type="hidden" name="_method" value="PUT"/>
	<input type="submit" value="Valider" />
</form>