<h1> List of Glossary </h1>
<form action="/admin/glossary/new">
		<input type="submit" value="Create a glossary" />
	</form>
<% if (!glossaries.length) { %>
	<b> No glossaries! </b>
	<br><br>
	<% } else { %>
	<table>
		<% glossaries.forEach(function(glossary) { %>
		<tr>
			<td width=80><b>Title : </b></td>
			<td width=100><%= glossary.title%></td>
			<td>
				<form style="display:inline" action="/admin/glossary/<%= glossary.id %>">
					<input type="submit" value="Inspect" />
				</form>
			</td>
			<td>
				<form style="display:inline" action="/admin/glossary/<%= glossary.id %>/edit">
				<input type="submit" value="Modify" />
			</form>
			</td>
			<td>
				<form style="display:inline" action="/admin/glossary/<%= glossary.id %>" method="post">
					<input type="submit" value="Delete" />
					<input type="hidden" name="_method" value="DELETE" />
				</form>
			</td>
		</tr>
	<% }); %>
	</table>
	<% } %>
	