
<h1> Visualisation de dood </h1>
<form action="/admin/glossary" method="get">
	<table>
		<tr>
			<td>Title</td>
			<td><input type="text" name="title" disabled value = "<%=glossary.title%>" /></td>
		</tr>
		<tr>
			<td>Content</td>
			<td><textarea class="form-control" type="text" disabled name="content"><%=glossary.content%></textarea></td>
		</tr>
	</table>
	<br>
	<input type="submit" value="Fermer" />
</form>